.App {
  text-align: center;
  margin: 15vh auto;
  width:fit-content;
  height:fit-content;
  color:rgb(238, 255, 87)
}

p {
  font-weight: bold
}

input {
  width: 7vw
}

button {
  margin: 3vh auto;
  width: 7vw;
  height: 4vh;
  font-size: 2vh;
  font-weight:bold;
  color: rgb(238, 255, 87);
  background-color: black
}